.attribution { 
    font-size: 11px; text-align: center; 
    color: white;
    margin: 12px;
}

.attribution a { 
    color: hsl(228, 44%, 55%); 
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 8%);
}

.card {
    padding: 14px;
    width: 340px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 14px;
    height: 580px;
}

img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.top-card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bottom-card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

p {
    color: hsl(0, 0%, 100%);
    font-size: 14px;
}

.location {
    color: hsl(75, 94%, 57%);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.name {
    margin-bottom: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color: white;
}

.description {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color: rgb(200, 194, 194);
}

.item {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    padding-right: 75%;
    padding-left: 75%;
    background-color: hsl(0, 0%, 20%);
    width: 100%;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    margin: 8px;
}